
@{
    ViewBag.Title = "О сайте";
}

<h2>О сайте</h2>
<br />

<div class="container">
    <p>
        <b>Разработчик: </b> 
        Дюмин Максим
    </p>
    <p>
        <b>E-mail: </b>
        <a href="mailto:m_dumin@mail.ru" target="_blank">m_dumin@mail.ru</a>
    </p>
</div>

<div>
    <hr />
    <p>&copy; 2016 - NewsLine</p>
</div>